@import url('https://fonts.googleapis.com/css2?family=Letter+Gothic+Standard&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: 'Letter Gothic Standard', monospace;
    background-color: #fffef6;
}

.sidebar {
    width: 135px;
    background-color: #fffef6;
    padding: 20px 20px;
    border-right-style: solid;
    border-color: #bdbdbd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow-x: clip;
    text-wrap: nowrap;
    left: 0;
    transition: 0.3s;
}

.sidebar h3 {
    margin-top: -6px;
    color: #2f2f2f;
    font-family: 'Letter Gothic Standard', monospace;
}

.sidebar a {
    text-decoration: none;
    color: #2f2f2f;
    display: block;
    margin-left: 0px 0;
    font-family: 'Letter Gothic Standard', monospace;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: -15px;
}

.sidebar ul li {
    margin-left: 10px 0;
    margin-top: 4px;
    font-family: 'Letter Gothic Standard', monospace;
}

.content {
    margin-left: 200px;
    padding: 20px;
    color: #2f2f2f;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    height: 100vh;
    font-family: 'Letter Gothic Standard', monospace;
    transition: margin-left 0.3s;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 7px;
}

.closebtn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 15px;
    display: none;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
        height: 100%;
        overflow-x: clip;
        padding: 20px 0px;
    }

    .content {
        margin-left: 45px;
    }

    .hamburger {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .closebtn {
        display: block;
        visibility: hidden;
        opacity: 0;
    }
}

.content ul li {
    list-style-type: none;
    margin-top: 4px;
    font-family: 'Letter Gothic Standard', monospace;
}

h1, p {
    font-family: 'Letter Gothic Standard', monospace;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: underline;
  }
